version: '3.8'

services:
#FastAPI server
  api:
    build: ./fastapi
    container_name: fastapi
    env_file:
      - ./.env
    command: uvicorn app.main:app --host 0.0.0.0 --reload
    volumes:
      - ./fastapi/app:/code/app
    ports:
      - "8080:8000"
    depends_on:
      - db
#MongoDB Database
  db:
    image: mongodb/mongodb-community-server
    container_name: mongodb
    env_file:
      - ./.env
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_INITDB_DATABASE}
    ports:
      - "27018:27017"
    volumes:
      - ./data:/data/db
#NGINX client
  client:
    image: nginx
    ports:
      - 80:80
    volumes:
      - ./front:/usr/share/nginx/html
    depends_on:
      - db
      - api