version: '3.8'

services:
#FastAPI server
  api:
    build: ./fastapi
    container_name: fastapi
    command: uvicorn app.main:app --host 0.0.0.0 --reload
    volumes:
      - ./fastapi/app:/code/app
    ports:
      - "8080:8000"
    depends_on:
      - db
#MongoDB Database
  db:
    image: mongodb/mongodb-community-server
    container_name: mongodb
    ports:
      - "27018:27017"
    volumes:
      - ./data:/data/db
#NGINX client
  client:
    image: nginx
    ports:
      - 80:80
    volumes:
      - ./front:/usr/share/nginx/html