version: '3.8'

services:
#FastAPI server
  api:
    build: ./fastapi
    container_name: api
    env_file:
      - ./.env
    command: uvicorn app.main:app --host 0.0.0.0 --reload
    volumes:
      - ./fastapi/app:/code/app
    ports:
      - "8080:8000"
    depends_on:
      - mongodb
      - mariadb
#MongoDB Database
  mongodb:
    image: mongodb/mongodb-community-server
    container_name: mongodb
    ports:
      - "27018:27017"
    volumes:
      - ./data/mongo:/data/db
#SQL Database
  mariadb:
    image: mariadb:11.0.3
    container_name: mariadb
    env_file:
      - ./.env
    environment:
      MARIADB_DATABASE: ${MARIADB_DATABASE}
      MARIADB_ROOT_PASSWORD: ${MARIADB_ROOT_PASSWORD}
    ports:
      - "3308:3306"
    volumes:
      - ./data/mariadb:/var/lib/mysql
#NGINX client
  nginx:
    image: nginx
    container_name: nginx
    ports:
      - 80:80
    volumes:
      - ./front:/usr/share/nginx/html
      - ./default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - api